.review-item{
    display: flex;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    width: 571px;
    padding: 8px;
    margin: 21px auto;
}
.review-item img{
    height: 91px;
    width: 91px;
    border-radius: 6px;
}
.review-details p{
    margin: 0;
    font-size: 15px;
}
.review-details-container{
    display: flex;
    align-items: center;
    margin: 0 16px;
    width: 100%;
    justify-content: space-between;
}

/* delete btn css  */
.review-delete{
    display: flex;
    align-items: center;
}
.btn-delete{
    height: 55px;
    width: 55px;
    background: rgba(235, 87, 87, 0.3);
    border: 0;
    border-radius: 50%;
}

.delete-icon{
    font-size: 27px;
    color: #EB5757;
}

.btn-delete:hover{
    background-color:rgba(235, 87, 87, 0.5) ;
}